a:not([draggable=true]), img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto; /* Technically not supported in Electron yet */
}

#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  background-image: url(img/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
  color: white;
  text-align: center;
  z-index: 100;
}
#loader.active {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#wrapper {
  background-image: url(img/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1024px;
  height: 720px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -360px 0 0 -512px;
}

button {
  background: none;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

#home, #generations, #results {
  display: none;
}
#home.active, #generations.active, #results.active {
  display: block;
}

#home #title {
  background-image: url(img/title.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -400px;
  width: 675px;
  height: 153px;
}

#home #options {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  position: relative;
  top: 340px;
}

#home #options button {
  background-repeat: no-repeat;
  width: 165px;
  height: 200px;
  opacity: 0.5;
}
#home #options button:hover {
  opacity: 0.9;
}
#home #options button:active {
  opacity: 0.3;
}

#home #options button.active {
  opacity: 1.0;
}
#home #options button.active:hover {
  opacity: 1.0;
}
#home #options button.active:active {
  opacity: 0.7;
}

#home #options #medieval {
  background-image: url(img/button-medieval.png); 
}

#home #options #classical {
  background-image: url(img/button-classical.png);
  margin-left: 50px;
  margin-right: 50px;
}

#home #options #asian {
  background-image: url(img/button-asian.png);
}

#generations #title {
  background-image: url(img/title-generations.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 240px;
  left: 50%;
  width: 566px;
  height: 334px;
  margin-left: -283px;
}

#generations #inputGen {
  position: absolute;
  top: 285px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color: white;
  background: none;
  text-align: center;
  font-size: 40px;
  font-family: Serif;
  outline: none;
  border: none;
}

#generations #inputYear {
  position: absolute;
  top: 475px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color: white;
  background: none;
  text-align: center;
  font-size: 40px;
  font-family: Serif;
  outline: none;
  border: none;
}

#results #box {
  background-image: url(img/bg-box.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 718px;
  height: 386px;
  margin-left: -359px;
}

#results #box #content {
  width: 714px;
  height: 347px;
  background-color: none;
  text-align: center;
  overflow-y: scroll;
  color: white;
  margin: 38px auto 0 auto;
  border-radius: 10px;
}

#results #box #content p { 
  background-image: url(img/pipe.png);
  text-transform: uppercase;
  font-family: Serif;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 45px;
  font-size: 14px;
}

#results #box #content p:last-child {
  background: none;
}

#results #box #content p span.year {
  color: #FBB03B;
}

#results #box #content p span.father {
  color: #9E005D;
}

#results div.actions {
  width: 717px;
  height: 47px;
  margin: 595px auto 0 auto;
  padding: 0;
  text-align: center;
  background-color: none;
}

#results #clipboard {
  background-image: url(img/button-clipboard.png);
  background-repeat: no-repeat;
  width: 233px;
  height: 47px;
  float: left;
  margin: 0;
  padding: 0;
}

#results #startover {
  background-image: url(img/button-startover.png);
  background-repeat: no-repeat;
  width: 186px;
  height: 47px;
  margin: 0;
  padding: 0;
}

#results #export {
  background-image: url(img/button-export.png);
  background-repeat: no-repeat;
  width: 186px;
  height: 47px;
  float: right;
  margin: 0;
  padding: 0;
}

button.next {
  background-image: url(img/button-next.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 60px;
  right: 70px;
  width: 79px;
  height: 74px;
}

/* Can be used in the app or in PDF generation */